<h1>BNK</h1>
<p>
  <strong>Title:</strong>
  <%= @program.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @program.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>